{% extends "page_layout.html" %}
{% load i18n %}
{% load flatblock_tags %}


{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript">

    function showHide(shID) {
        if (document.getElementById(shID)) {
                if (document.getElementById(shID+'-show').style.display != 'none') {
                            document.getElementById(shID+'-show').style.display = 'none';
                                    document.getElementById(shID).style.display = 'block';
                                        }
                    else {
                                document.getElementById(shID+'-show').style.display = 'inline';
                                        document.getElementById(shID).style.display = 'none';
                                            }
                    }
    }
    
Ext.onReady(function(){
{% autoescape off %}
  showHide('example');
  showHide('example');
  var exploreMapButton = new Ext.Button({
     renderTo: 'explore_map', 
     text: '{% trans "Explore Maps" %}',
     handler: function(){ window.location = "{% url geonode.maps.views.maps_search_page %}"; }
  });

  var submitForm = function() {
      Ext.query('#data_block form')[0].submit();
  };

  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});

  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});

{% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<div class="twocol">
<!-- TODO: i18n on the text here -->
		
			<div id="left-box">
				<div id="containerIII">
					<h2>{% flatblock "titleI"%}</h2>
					<ul style="font-size:130%">
						<li>{% trans "Explore"%} 
							<a href="{% url maps_search %}">{% trans "maps"%}</a>						
							  {% trans "and"%} <a href="{% url geonode.maps.views.search_page %}">{% trans "data"%}</a> {% trans "made by others"%}
						</li>
						<li>						
							<a href="{% url geonode.maps.views.newmap %}">{% trans "Create map"  %}</a>
							{% trans "for collaborating and sharing"%}
						</li>
						<li>
							<a href="{% url geonode.maps.views.upload_layer%}">{% trans "Upload data"  %}</a>
							{% trans "to use and share with others"%}</li>
						<li>{% trans "Search and download data for use in other applications"%}</li>
					</ul>

				<div>
					<div style="float: left; width:350px">
						<h2 >{%flatblock "featMap"%}</h2>						
						<img align=left style="border:2px solid #008CB3;margin=5px;" src='{{STATIC_URL}}theme/img/haiti.png'>
					{%flatblock "imgCaption"%}
					</div>
					<div>
						{%flatblock "featData"%}
					</div>
				</div>
</div>
</div>
</div>
{% endblock %}		

{% block sidebar %}
<!-- This is the right box with the intro-->
<div class="threecol">
	<p> {% flatblock "index.intro" %} </p>
</div>
{% endblock %}
