{% extends "page_layout.html" %}
{% load i18n %}
{% load flatblock_tags %}


{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript">

    function showHide(shID) {
        if (document.getElementById(shID)) {
                if (document.getElementById(shID+'-show').style.display != 'none') {
                            document.getElementById(shID+'-show').style.display = 'none';
                                    document.getElementById(shID).style.display = 'block';
                                        }
                    else {
                                document.getElementById(shID+'-show').style.display = 'inline';
                                        document.getElementById(shID).style.display = 'none';
                                            }
                    }
    }
    
Ext.onReady(function(){
{% autoescape off %}
  showHide('example');
  showHide('example');
  var exploreMapButton = new Ext.Button({
     renderTo: 'explore_map', 
     text: '{% trans "Explore Maps" %}',
     handler: function(){ window.location = "{% url geonode.maps.views.maps_search_page %}"; }
  });

  var submitForm = function() {
      Ext.query('#data_block form')[0].submit();
  };

  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});

  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});

{% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<div class="twocol">
<!-- TODO: i18n on the text here -->

	   <img align=right style="border:2px solid #008CB3; margin=5px;"  src='{{STATIC_URL}}theme/img/haiti.png'>
  <div class="block">
       {% flatblock "index.maps" %}
    <div class="selfclear">
      <div id="explore_map" class="content-button"></div>
    </div>
       {% flatblock "index.create" %}
    <div class="selfclear">
      <div id="create_map" class="content-button"></div>
    </div>
</div>

  <div id="data_block" class="block">
    <p>
       {% flatblock "index.data" %}
    </p>

    <!-- Data search text box and button -->

    <form action="{% url search %}" method="POST">
      {% csrf_token %}
        <table>
          <tr>
            <td>
              <input type="text" id="search_query" name="q" />
            </td>
            <td>
              <div id="submit_search"></div>
            </td>
          </tr>
        </table>
        <a href="{% url search %}">{% trans "View All" %}</a>
    </form>
  
    <!-- Links to specialized views of data -->
    <!-- Upload data button (link?) -->
    <a class="layer-upload-link" href="{% url geonode.maps.views.upload_layer%}">{% trans "Upload data"  %}</a>
  </div>

</div>

<div class="threecol"> 

{% flatblock "index.sidebar" %}
</div>
{% endblock %}

